<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>
    <h1>新規登録画面</h1>
    <!-- Flashメッセージの表示 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post">
        <label for="username">ユーザー名:</label>
        <input type="text" id="id" name="id" required>
        <br>
        <label for="password">パスワード:</label>
        <input type="text" id="password" name="password" required>
        <br>
        <label for="mail">メールアドレス:</label>
        <input type="text" id="mail" name="mail" required>
        <br>
        <button type="submit">登録</button>
        
    </form>  
      
    <!-- ホームに戻るボタン -->
    <a href="{{ url_for('home') }}" class="back-button">ホームに戻る</a>
</body>
</html>