<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スケジュール一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedulelist.css') }}">
    <style>
        .hidden {
          display: none;
        }
    </style>
</head>
<body>

    <!-- タスクバー -->
    <div class="taskbar">
        <a href="{{ url_for('adduser') }}">新規登録</a>
        <a href="{{ url_for('login') }}">ログイン</a>
        <a href="{{ url_for('home') }}">ホーム</a>
    </div>

    <!-- スケジュール一覧 -->
    <div class="content">
        <h1>スケジュール一覧</h1>
        <ul class="schedule-list">
            {% for post in posts %}
            <li>
                <p><strong>投稿者:</strong> {{ post.id }}</p>
                <p><strong>投稿タイトル:</strong> {{ post.post_name }}</p>
                <p><strong>場所1:</strong> {{ post.place1 }} (<span>{{ post.time1 }}</span>)</p>
                <div id="message1" class="hidden"> <p><strong>場所2:</strong> {{ post.place2 }} (<span>{{ post.time2 }}</span>)</p> </div>
                <div id="message2" class="hidden"> <p><strong>場所3:</strong> {{ post.place3 }} (<span>{{ post.time3 }}</span>)</p> </div>
                <div id="message3" class="hidden"> <p><strong>場所4:</strong> {{ post.place4 }} (<span>{{ post.time4 }}</span>)</p> </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        const condition2 = {{ posts.place2 }}
        const condition3 = {{ posts.place3 }}
        const condition4 = {{ posts.place4 }}
        const message1 = document.getElementById("message1");
        const message2 = document.getElementById("message2");
        const message3 = document.getElementById("message3");

        if (condition2 !== none) {
            message1.classList.remove("hidden");
        } else if (condition3 !== none) {
            message2.classList.remove("hidden");
        } else if (condition4 !== none) {
            message3.classList.remove("hidden");
        }
    </script>
</body>
</html>