<!DOCTYPE html>
<html lang="ja">
<header>
    <meta charset="UTF-8">
    <h1>旅行スケジュール投稿</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule.css') }}">
</header>

<body>
    <!-- Flashメッセージの表示 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form action="/schedule" method="POST">
        <label for="post_title">投稿タイトル</label>
        <input type="text" id="post_title" name="post_title" required>

        <h3>ステップ1</h3>
        <label for="time1">時間:</label>
        <input type="datetime-local" id="time1" name="time1" required>
        <label for="place1">場所:</label>
        <input type="text" id="place1" name="place1" required>

        <h3>ステップ2</h3>
        <label for="time2">時間:</label>
        <input type="datetime-local" id="time2" name="time2">
        <label for="place2">場所:</label>
        <input type="text" id="place2" name="place2">

        <h3>ステップ3</h3>
        <label for="time3">時間:</label>
        <input type="datetime-local" id="time3" name="time3">
        <label for="place3">場所:</label>
        <input type="text" id="place3" name="place3">

        <h3>ステップ4</h3>
        <label for="time4">時間:</label>
        <input type="datetime-local" id="time4" name="time4">
        <label for="place4">場所:</label>
        <input type="text" id="place4" name="place4">

        <button type="submit">投稿する</button>
    </form>
    <a href="{{ url_for('mypage') }}" class="back-button">マイページに戻る</a>
</body>
</html>